@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Montserrat", sans-serif;
	margin-left: 25vw;
	margin-top: 10vh;
}

a {
	font-weight: bold;
	font-size: 40px;
}

img {
	width: 50%;
	margin-top: 20px;
	display: block;
}
